{% extends 'form.html' %} {% load staticfiles %} {% block title %} Bill {% endblock %} {% block content1 %}

<body>
    <header>
        <h1>Bill</h1>
        <address contenteditable>
                <p>Customer Name : </p>
                <p>Doctor Name : </p>
            </address>
    </header>
    <article>
        <table class="meta">

            <tr>
                <th><span>Bill #</span></th>
                <td><span>{{ billno }}</span></td>
            </tr>
            <tr>
                <th>
                    <spane>Date & Time</span>
                </th>
                <td><span>{{ date }}</span></td>
            </tr>
            <tr>
                <th><span>Bill Amount Due</span></th>
                <td><span id="prefix">$</span><span>{{ finalamount }}</span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th><span>Item</span></th>
                    <th><span>Description</span></th>
                    <th><span>Rate</span></th>
                    <th><span>Quantity</span></th>
                    <th><span>Tax (%)</span></th>
                    <th><span>Price</span></th>
                </tr>
            </thead>
            <tbody>
                {% for o in object %}
                <tr>
                    <td><span>{{ o.medicine.medicine_name }}</span></td>
                    <td><span>{{ o.medicine.medicine_groups.medicine_groups }}</span></td>
                    <td><span>$ {{ o.medicine.medicine_price }}</span></td>
                    <td><span>{{ o.quantity }}</span></td>
                    <td><span>{{ o.medicine.medicine_groups.medicine_tax }} %</span></td>
                    <td><span>$ {{ o.price }}</span></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <table class="balance">
            <tr>
                <th><span>Total</span></th>
                <td><span>{{ finalamount }}</span></td>
            </tr>
            <tr>
                <th><span>Amount Paid</span></th>
                <td><span contenteditable>$ 0.00</span></td>
            </tr>
            <tr>
                <th><span>Balance Due</span></th>
                <td><span>{{ finalamount }}</span></td>
            </tr>
        </table>
    </article>
    <aside>
        <h1><span>Payment Details</span></h1>
        <div contenteditable>
            <p>Payment Method : </p>
            <p>Card / Check # : </p>
        </div>
    </aside>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="box">
        <a class="button" href="#popup1">Submit</a>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Thank You!</h2>
            <a class="close" href="/medicine/">&times;</a>
            <div class="content">
                Happy Purchasing.
            </div>
        </div>
    </div>

</body>

{% endblock %}